<div class="container-fluid locations">
  <div class="ui icon input">
    <%= form_tag(locations_path, method: :get) do %>
    <%= text_field_tag :term %>
    <%= submit_tag 'Search for a Location', class: "results" %>
    <% end %>
  </div>
  <br />
  <br />

  <h3 class="text-center"><%= link_to "Add Location", new_location_path %></h3>
  <br />


  <% @locations.each do |location| %>


          <a class="header" style="font-family: Roboto', sans-serif;"><%= "#{location.location_name}" %>   /     <%= "#{location.location_address}" %></a>
          <div class="description" style="color: darkBlue"><%= "#{location.location_description}" %></div>
        <div class="center">
          <button type="button" class="btn btn-outline-danger"><%= link_to "Reviews", location_path("#{location.id}") %></button>
          <button type="button" class="btn btn-outline-danger"><%= link_to "Edit Location", edit_location_path("#{location.id}") %></button>
          <button type="button" class="btn btn-outline-danger"><%= link_to "New article", new_article_path("#{location.id}") %></button>
        </div>
        <br />
      </ul>
      <br />


<% end %>
</div>
