<div class="container-fluid locations">


    <h1>List of Locations</h1>

    <div class="container">
      <div class = "list">
        <% @locations.each do |location| %>
          <hr>
          <h2>Name: <%= "#{location.location_name}" %></li></h2><br>
          <h3>Address: <%= "#{location.location_address}" %></li></h3><br>
          <h3>Description: <%= "#{location.location_description}" %></h3><br>
          <li>Latitude: <%= "#{location.lat}" %></li><br>
          <li>Longitude: <%= "#{location.lng}" %></li><br>
        </div>
          <span class="menuItem"><%= link_to "View Comments on this location", location_path("#{location.id}") %></span>
          <span class="menuItem"><%= link_to "Edit Location", edit_location_path("#{location.id}") %></span>
          <span class="menuItem"> <%= link_to "New article", new_article_path("#{location.id}") %></span>

            <% end %>

      <hr>
    </div>
  </div>
