<div class="container-fluid locations">
  <div class="ui icon input">
    <%= form_tag(locations_path, method: :get) do %>
    <%= text_field_tag :term %>
    <%= submit_tag 'Search for a Location', class: "results" %>
    <% end %>
  </div>
  <br />
  <br />


  <% @locations.each do |location| %>
   <div class="ui list localList">
      <div class="item">
        <i class="map marker icon"></i>
        <div class="content">
          <a class="header" style="font-family: Roboto', sans-serif;"><%= "#{location.location_name}" %>   /     <%= "#{location.location_address}" %></a>

          <div class="description" style="color: darkBlue"><%= "#{location.location_description}" %></div>
        </div>
      </div>
        <div class="center">
          <button type="button" class="btn btn-outline-danger"><%= link_to "View Comments on this location", location_path("#{location.id}") %></button>
          <button type="button" class="btn btn-outline-danger"><%= link_to "Edit Location", edit_location_path("#{location.id}") %></button>
          <button type="button" class="btn btn-outline-danger"><%= link_to "New article", new_article_path("#{location.id}") %></button>
        </div>
        <br />
      </ul>
      <br />
  </div>

<% end %>
</div>
