<div class="list">
    <%= form_for @location do |f| %>
      Name of the Location: <%= f.text_field :location_name %>
      Description/Discount Offered: <%= f.text_field :location_description %>
      Street Address: <%= f.text_field :location_address %>

      <%= f.submit "Create New Location" %>
    <% end %>
</div>
