<div>
    <% @location.articles.reverse_each do |article| %>
      <hr>
      <li>Title: <%= link_to article.title, article_path(article) %></li><br>
      <li>Content: <%= article.body.truncate(25, separator: /\s/) %></li><br>
    <% end %>
    <span class="new-article"><%= link_to "New article", new_article_path(@location.id) %></span>


<span><%= link_to "Edit Location", edit_location_path(@location.id) %></span>

<%= button_to " Delete Location ", {action:"destroy", id: @location.id}, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= button_to "All Locations", locations_path, method: :get %>
