<div>
    <% @location.articles.reverse_each do |article| %>
      <hr>
      <li>Title: <%= link_to article.title, article_path(article) %></li><br>
      <li>Content: <%= article.body.truncate(25, separator: /\s/) %></li><br>
    <% end %>



<div class="container">
  <div class="row">
    <div class="col">
      <div class="col">
        <%= link_to "New article", new_article_path(@location.id) %></span>
      </div>
      <div class="col">
        <%= link_to "Edit Location", edit_location_path(@location.id) %>
      </div>
        <%= link_to "Delete Location", {action:"destroy", id: @location.id}, method: :delete, data: { confirm: 'Are you sure?' } %>
      <div class="col">
        <%= link_to "All Locations", locations_path, method: :get %>
      </div>
    </div>
  </div>
</div>
