<%= @location.location_name %>
<hr />
<%= @location.location_address %>
<hr>
<%= @location.location_description %>
<hr>
<%= @location.lat %>
<hr>
<%= @location.lng %>


<span><%= link_to "Edit Location", edit_location_path(@location.id) %></span>

<%= button_to " Delete Location ", {action:"destroy", id: @location.id}, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= button_to "All Locations", locations_path, method: :get %>
