
<div class="container">
<h2><%= @location.location_name %></h2>

  <div>
      <% @location.articles.reverse_each do |article| %>
        <hr>
        <li>Title: <%= link_to article.title, article_path(article) %></li><br>
        <li>By: <%= article.user.user_name %> (<%= article.user.job_function %>)</li><br />
        <li>Content: <%= article.body.truncate(25, separator: /\s/) %></li><br>
        <hr />
      <% end %>
  </div>




  <div class="text-center">
      <% if current_user && current_user == 'article.user.user_name' %>
        <%= link_to "New Review", new_article_path(@location.id) %><br />
      <% end %>
  </div>

</div>
